* {
	margin:0px;padding:0px;
}

body{
	background: #000 url("../img/bg.jpg") repeat center top;
}

img{
	/*width:18%;
	//height:auto;*/
}

.space{
	float:left;
	width:13px;
}

#sao_logo{
	margin-left: 82px;
    margin-top: 26px;width:3%;height:auto;position:absolute;
}

.star_1{top:15px;left:646px;width:4%;height:auto;position:absolute;}
.star_2{    
	top: 111px;
    left: 72px;width:4%;height:auto;position:absolute;}
.star_3{    
	top: 59px;
    left: 133px;width:4%;height:auto;position:absolute;}
.star_4{       
	top: 104px;
    left: 1199px;width:4%;height:auto;position:absolute;}
.star_5{top:72px;left:1228px;width:4%;height:auto;position:absolute;}
.star_6{top:401px;left: 250px;width:4%;height:auto;position:absolute;}
.star_7{    top: 540px;
    left: 744px;width:4%;height:auto;position:absolute;}
.star_8{top: 425px;
    left: 831px;width:4%;height:auto;position:absolute;}
.star_9{    
	margin-top: -17px;
    margin-left: 341px;
    width: 4%;
    height: auto;
    position: absolute;
}
.star_10{    
	    margin-top: -8px;
    margin-left: 498px;
    width: 4%;
    height: auto;
    position: absolute;
}
.star_11{    
	     margin-top: -15px;
    margin-left: 966px;
    width: 4%;
    height: auto;
    position: absolute;}

#wrapper{
	background: transparent url("../img/bg_elements_2_1366.gif") no-repeat center top;
	background-size: 100%;
	/*height:707px;*/
}

.header_bg{
	background: transparent url("../img/header_bg.gif") repeat-x top left;
}

#logo_ThaoTay{ 
	margin-top:8%;
}

#img_logo_ThaoTay{
	width:15%;
}

#welcome_text{
	margin-top:2%;
}

#noitoc,#spa,#hocvien{opacity:0; width: 75%;margin-top:50px;}
/*#text_noitoc,#text_spa,#text_hocvien{opacity:0; width: 85%;}*/
#text_noitoc,#text_spa,#text_hocvien{opacity:0; width: 75%;}

#noitoc img,#spa img,#hocvien img{
	width:100%;
	height:auto;
}

#thaotaygroup{
	float:left;
	margin-left:26%;
	opacity:1;
	width:21%;
}
#kinhchaoquykhach{
	float:left;margin-top:3px;opacity:1;
	width:27%
}

#thaotaygroup img, #kinhchaoquykhach img{
	width:100%;
}

.text_link{
	height:auto;text-align:center
}
.box_1{
	float:left;
	/*padding: 0px 26px;*/
	padding: 0px 0px;
}

.hr{
	margin-top:1%;
}

.hr img{
	width:25%;
}

.width100{
	width:100%;
}

.clearBoth{
	clear:both;
}

.text_center{
	text-align:center;
}

.services{
	/*float:left;*/
	margin-left:20%;
}

.start-animate {
  z-index: 99999999999999999 !important;
  position: absolute;
  animation: star linear 1.75s infinite;
  -moz-animation: star linear 1.75s infinite;
  -webkit-animation: star linear 1.75s infinite;
  -o-animation: star linear 1.75s infinite;
}

.service_spacing_left{
	width:13%;
	float:left;
}

.service_spacing_right{
	
}

.footer{
	background: transparent url("../img/footer_1366.gif") no-repeat center top;
	background-size: 100%;
	height:41px;
}


@-webkit-keyframes star {
  0% {
    -webkit-transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0);
  }
}
@-o-keyframes star {
  0% {
    -o-transform: rotate(0) scale(0);
  }
  50% {
    -o-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -o-transform: rotate(360deg) scale(0);
  }
}
@-moz-keyframes star {
  0% {
    -moz-transform: rotate(0) scale(0);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(0);
  }
}
@keyframes star {
  0% {
    transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}



@media all and (max-width: 1280px) {
	
.star_1{top:15px;left:646px;width:4%;height:auto;position:absolute;}
.star_2{top:94px;left:97px;width:4%;height:auto;position:absolute;}
.star_3{top:50px;left:185px;width:4%;height:auto;position:absolute;}
.star_4{top:94px;left:1130px;width:4%;height:auto;position:absolute;}
.star_5{top:72px;left:1172px;width:4%;height:auto;position:absolute;}
.star_6{top:401px;left:241px;width:4%;height:auto;position:absolute;}
.star_7{top:563px;left:759px;width:4%;height:auto;position:absolute;}
.star_8{top:437px;left:818px;width:4%;height:auto;position:absolute;}

	#wrapper{
		background-size: 100%;
		height:646px;
	}  
	
	.footer{
		background: transparent url("../img/footer_1366.gif") no-repeat center top;
		background-size: 100%;
		height:41px;
	}

	.header_bg{
		background: transparent url("../img/header_bg_53.gif") repeat-x top left;
	}	
	   
   .start-animate{
	   display:block;
   }

	
	.service_spacing_left{
		width:9%;float:left;
	}
	
	.services{
		margin-left: 17%;
	}
	
	#noitoc, #spa, #hocvien,
		#text_noitoc, #text_spa, #text_hocvien{
			width: 85%;
	}
	
	#noitoc img, #spa img, #hocvien img {
		width: 100%;
		height: auto;
	}

}

@media all and (max-width: 1024px){
	html, body{
		overflow-x: hidden;
	}
	.start-animate{
	   display:none;
	}
	
	#sao_logo{
		margin-left: 489px;
		margin-top: 31px;
		height: auto;
		position: absolute;
		display: block;
		
	}
	.star_1{    
		top: 17px;
		left: 481px;width:4%;height:auto;position:absolute;}
	.star_2{    top: 96px;
    left: 16px;width:4%;height:auto;position:absolute;}
	.star_3{    
		top: 54px;
		left: 41px;width:4%;height:auto;position:absolute;}
	.star_4{    top: 94px;
    left: 962px;width:4%;height:auto;position:absolute;}
	.star_5{    top: 56px;
    left: 939px;width:4%;height:auto;position:absolute;}
	.star_6{    top: 394px;
    left: 93px;width:4%;height:auto;position:absolute;}
	.star_7{    top: 536px;
    left: 604px;width:4%;height:auto;position:absolute;}
	.star_8{    top: 367px;
    left: 659px;width:4%;height:auto;position:absolute;}
	.star_9{    
		top: 280px;
		left: 246px;
		width: 4%;
		height: auto;
		position: absolute;
	}
.star_10{    
	    top: 285px;
    left: 372px;
    height: auto;
    position: absolute;
}
.star_11{    
	top: 282px;
    left: 722px;
    width: 4%;
    height: auto;
    position: absolute;}
	
	.header_bg{
		background: none;
	}
	
	body{
		height:100%;
	}
	
	#wrapper{
		background: transparent url("../img/bg_elements_2_1366.gif") no-repeat center top;
		background-size: 115%;
		height:637px;
	}
	
	.bg_2_cot{
		background: transparent url("../img/bg_2_cot_1024.gif") repeat-y center top;
		background-size: 115%;
		/*height:100%;*/
	
	}
	
	.footer{
	background: transparent url("../img/footer_1366.gif") no-repeat center top;
	background-size: 115%;
	height:41px;
	}
	
	#img_logo_ThaoTay{
		width:20%;
		height:auto;
	}
	
	#welcome_text{
		margin-top:3%;
	}
	
	.services{
		width:100%;
		margin-left:10%;
	}
	
	.box_1{
		width:28%;padding:0px 0px;
	}
	
	.box_1 img{
		width:100%;
		height:auto;
	}
	
	.text_link{
		text-align:center;
	}
	
	.text_link img{
		/*width: 100%;*/
	}
	
	
	
	.service_spacing_left{
		width:0px;float:left;
	}
	
	#text_noitoc{
		//width:190px;
		width:252px;
		
	}
	
	#text_noitoc img{
		margin-top:5px;
		width:75%;
		
	}
	
	#text_spa{
		width:252px;
	}
	
	#text_spa img{
		width:85%;
	}
	
	#text_hocvien{
		width:252px;
	}
	
	#text_hocvien img{
		width:61%;
	}	
}

@media only screen and (max-width: 768px){
	#sao_logo{
		     margin-left: 490px;
    margin-top: 31px;width:3%;height:auto;position:absolute;
		display:none;
	}
	
	
	
	.star_1{top:15px;left:646px;width:4%;height:auto;position:absolute;display:none;}
	.star_2{top:94px;left:97px;width:4%;height:auto;position:absolute;display:none;}
	.star_3{top:50px;left:185px;width:4%;height:auto;position:absolute;display:none;}
	.star_4{top:94px;left:1130px;width:4%;height:auto;position:absolute;display:none;}
	.star_5{top:72px;left:1172px;width:4%;height:auto;position:absolute;display:none;}
	.star_6{top:401px;left:241px;width:4%;height:auto;position:absolute;display:none;}
	.star_7{top:563px;left:759px;width:4%;height:auto;position:absolute;display:none;}
	.star_8{top:437px;left:818px;width:4%;height:auto;position:absolute;display:none;}
	.star_9{    
		    top: 542px;
    left: 251px;
		width: 4%;
		height: auto;
		position: absolute;
		display:none;
	}
	.star_10{    
		top: 549px;
		left: 408px;
		height: auto;
		position: absolute;
		display:none;
	}
	.star_11{    
		top: 597px;
		left: 597px;
		width: 4%;
		height: auto;
		position: absolute;
		display:none;
	}
	
	.header_bg{
		background: none;
	}
	
	.bg_2_cot{
		background: transparent url("../img/bg_2_cot_768.gif") repeat-y center top;
		background-size: 100%;
		/*height:100%;*/
	
	}
	
	#wrapper{
		background: transparent url("../img/bg_1024.gif") no-repeat center top;
		background-size: 100%;
		/*height:685px;*/
		height:auto;
	}
	
	#logo_ThaoTay{
		margin-top: 27%;
	}
	
	#img_logo_ThaoTay {
		width: 50%;
		height: auto;
	}
	
	#thaotaygroup{
		width:100%;
		text-align:center;
		margin:0px;
	}
	
	.space{
		display:none;
	}
	
	#thaotaygroup{
		/*margin-left:-60px;*/
		width:100%;
	}
	
	#thaotaygroup img{
		width:60%;
	}
	
	#kinhchaoquykhach{
		width:100%;
		text-align:center;
		margin-top:3px;
	}
	
	#kinhchaoquykhach img{
		width:70%;
	}
	
	#noitoc, #spa, #hocvien{
		clear:left;
		display:block;
		text-align:center;
		opacity:1;
		width:100%;
	}
	#noitoc{
		margin:0px;
	}
	
	.hr{
		margin-top:3%;
	}
	
	.hr img{
		width:70%;
	}
	
	.box_1{
		/*clear:left;*/
		width:100%;
		padding:0px;
	}
	
	.services{
		margin-left:0;
		width:100%;
	}
	
	#noitoc img, #spa img, #hocvien img{
		width:80%;
		text-align:center;
		opacity:1;
	}
	
	#spa, #hocvien{
		margin-top:10%;
	}
	
	#text_noitoc, #text_spa, #text_hocvien{
		width:100%;
		text-align:center;
	}
	
	#text_noitoc img{
		width:42%;
		opacity:1.0;
	}
	
	#text_spa img{
		width:45%;
		opacity:1;
	}
	
	#text_hocvien img{
		width:35%;
		opacity:1;
	}
	
	.footer{
		background: transparent url(../img/bg_footer_1024.gif) no-repeat center top;
		background-size: 100%;
		height:50px;
	}
	
	.start-animate{
	   display:none;
	}
}

@media only screen and (max-width: 750px){
	.header_bg{
		background: none;
	}
	
	.footer{
		background: transparent url(../img/bg_footer_1024.gif) no-repeat center top;
		background-size: 100%;
		height:50px;
	}
	
	.start-animate{
	   display:none;
	}
}


@media only screen and (max-width: 667px){
	.header_bg{
		background: none;
	}
	#wrapper{
		background: transparent url("../img/bg_1024.gif") no-repeat center top;
		background-size: 105%;
	}
	
	.bg_2_cot{
		background: transparent url("../img/bg_2_cot_768.gif") repeat-y center top;
		background-size: 105%;
		/*height:100%;*/
	
	}
	
	.footer{
		background: transparent url(../img/bg_footer_1024.gif) no-repeat center top;
		background-size: 105%;
		height: 43px;
	}
	
	.start-animate{
	   display:none;
	}
}

@media only screen and (max-width: 480px){
	.footer{
		background: transparent url(../img/bg_footer_1024.gif) no-repeat center top;
		background-size: 105%;
		height: 29px;
	}
	
	.start-animate{
	   display:none;
	}
}

@media only screen and (max-width: 375px){
	.header_bg{
		background: none;
	}
	
	#wrapper{
		background: transparent url("../img/bg_1024.gif") no-repeat center top;
		background-size: 105%;
		//width:100%;
		/*height:795px;*/
	}
	
	.header_bg{
		background: none;
	}

		
	.bg_2_cot{
		background: transparent url("../img/bg_2_cot_768.gif") repeat-y center top;
		background-size: 105%;
		/*height:100%;*/
	
	}
	.footer{
		background: transparent url(../img/bg_footer_1024.gif) no-repeat center top;
		background-size: 105%;
		height: 23px;
	}
	
	.hr{
		margin-top: 5%;
	}
	
	.clearBoth{
		clear:left;
	}
	
	.box_1{
		clear:both;
	}
	
	.start-animate{
	   display:none;
	}
}


@media only screen and (max-width: 800px){

}
